@model ProjectDto

<div class="project__detail">
    <div id="zoomed-layout">
        <img class="zoomed-img"
             loading="lazy"
             src="#"
             alt="Photo" />
    </div>
    <figure>
        @foreach (var photo in Model.ImageUrls)
        {
            <img class="project-img"
                loading="lazy"
                src="@photo"
                alt="Photo" />
        }
        <figcaption>
            <h3>@Model.ProjectName</h3>
            <h4>@Model.BuildingName</h4>
            <p>@Model.Description</p>
            <p>@Model.Weight <small>tons</small></p>
        </figcaption>
    </figure>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/projectDetail.js"></script>
