@model List<ProjectDto>

<div class="projects" id="projects">
    <h1 class="projects__banner">Our Projects</h1>
        <a class="navbar__menu-link" id="projects" asp-controller="Project" asp-action="Create">Create New Projects</a>
    <div class="projects__subsec1">
        @foreach(var project in Model){
            <figure class="projects__figure">
                <img loading="lazy"
                     src="@(project.ImageUrls != null && project.ImageUrls.Length > 0 ? project.ImageUrls[0] : "/media/images/pump_building2.webp")"
                     alt="@project.ProjectName" />
                <figcaption>
                    <h2>@project.ProjectName</h2> 
                    <h4>@project.BuildingName</h4> 
                    <p>@project.Description</p> 
                    <p>@project.Weight</p> 
                </figcaption>
            </figure>
        }
    </div>
</div>
