@model List<ProjectDto>

<div class="projects" id="projects">
    <h1 class="projects__banner">Our Projects</h1>
    @if (User.IsInRole("Admin"))
    {
        <a class="std__btn primary" asp-controller="Project" asp-action="Create">Create New Projects</a>
    }
    
    <div class="projects__subsec1">
        @foreach(var project in Model){
            <figure>
                <a asp-action="Detail" asp-route-id="@project.Id">
                    <img loading="lazy"
                         src="@(project.ImageUrls != null && project.ImageUrls.Length > 0 ? project.ImageUrls[0] : "/media/images/pump_building.webp")"
                         alt="@project.ProjectName" />
                    <figcaption>
                        <h3>@project.ProjectName</h3> 
                        <h4>@project.BuildingName</h4> 
                    </figcaption>
                </a>
            </figure>
        }
    </div>
</div>
