@model List<AppUserDto>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="Dashboard__main">
    <table class="Dashboard__table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td><a asp-area="Admin" asp-controller="User" asp-action="Update" asp-route-id="@user.Id">@user.Name</a></td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>@user.JobTitle</td>
                </tr>
            }
        </tbody>
    </table>   
</div>